{% extends 'base.html' %}

{% block content %}
		<div class='resume-content'>
			<div class='resume-header'>
				<h1>Bridget Franciscovich</h1>
				<p>	1012 Northbrook Drive<br>
					blfranciscovich@wildcats.unh.edu<br>
					Manchester, NH 03102<br>	
					(603) 860-3754</p>
			<div class='resume-education'>
				<h3>Education</h3>
				<p>	University Of New Hampshire, Manchester, NH<br>	
					Expected Graduation Dec 2019<br>
					Master of Science in Information Technology	GPA: 4.0<br>
					<br>
					Southern New Hampshire University, Manchester, NH<br>	
					Graduated Sept 2014<br>
					Master of Science in Marketing	GPA: 3.8 <br>
					Graduate Certificate in Social Media Marketing <br>
					<br>
					Southern New Hampshire University, Manchester, NH<br>	
					Graduated May 2013<br>
					Bachelor of Science in International Business	GPA: 3.6</p>
			<div class='resume-skills'>
				<h3>Skills</h3>
				<p> Programming Languages: 
					<ul>
						<li>Python, </li>
						<li>Django, </li>
						<li>SQL, </li>
						<li>JavaScript, </li>
						<li>HTML, </li>
						<li>CSS</li></ul>
					</p>
					<p> Content Management Systems: 
					<ul>
						<li>Joomla, </li>
						<li>WordPress</li></ul>
					</p>  
					<p> Relevant Coursework:
					<ul>
						<li>Database Design and Development, </li>
						<li>Data Structures Fundamentals, </li>
						<li>Python Automated Testing, </li>
						<li>Machine and Network Architecture,</li>
						<li>Web Application Development,  </li>
						<li>Programming Languages</li></ul>
					</p>
					<p> Professional Certifications: 
					<ul>
						<li>Google Analytics Individual Qualification, </li>
						<li>Google AdWords, </li>
						<li>HubSpot Inbound, </li>
						<li>HubSpot Content Marketing</li></ul>
					</p>
			<div class='resume-experience'>
				<h3>Experience</h3>		
					<p> Localed Technology, Manchester, NH - Digital Marketing Consultant<br>
						June 2013-Present
					<ul>
						<li>Strategizing optimal approach to digital marketing </li>
						<li>Conducting market research</li>
						<li>Executing digital marketing campaigns</li>
						<li>Designing client websites</li>
						<li>Managing client websites using Joomla and WordPress</li>
						<li>Analyzing client efforts through Quintly and other analytic systems</li></ul>	
					
					<p> Community College System of New Hampshire, Concord, NH - Adjunct Faculty<br>
						Jan 2016-Present
					<ul>
						<li>Lecture undergraduates on business, marketing, hospitality, and information technology theory</li>
						<li>Develop course content in business, marketing, hospitality, and information technology</li>
						<li>Created Digital Communications certification</li>
						<li>Courses taught: BUS-170 Principles of Marketing, HSTM-205 Quality Service Management, HSTM-201 Information Technology in Hospitality, COMM-120 Introduction to Public Relations, COMM-206 Social Media, DCOM-105 Introduction to Digital Communications, DCOM-150 Social Media Strategy, DCOM-130 Ecommerce, Websites, and Blogging</li></ul>	
					
					<p> Brew New Hampshire, Manchester, NH - Board of Directors Member<br>
						April 2017-Present
					<ul>
						<li>Strategizing, analyzing, and creating digital content for the brewing industry</li>
						<li>Solving problems related to the overall brewing industry</li>
						<li>Supporting local microbrews in their marketing, business, and processes</li>
						<li>Providing time and energy in planning and executing brewing events in New Hampshire</li></ul>					
					
					<p> Harvard Extension School, Remote - Teaching Assistant<br>
						Sept 2014-Dec 2016
					<ul>
						<li>Creating graduate-level social media strategy and branding course content</li>
						<li>Lecturing graduate-level students on the creation, application, and monitoring techniques involved in social media marketing</li>
						<li>Courses taught: MGMT S-6655 Social Media Strategy, MGMT E-6655 Social Media Management and MGMT E-6657 Social Media and Branding</li></ul>				
			<div class='resume-presentations'>
				<h3>Conference Presentations</h3>	
					<p>Franciscovich, B. (May, 2015). Mobile Marketing: Don't Get Stuck in the Past. PowerPoint session presented at the annual marketing conference of the VT NH Marketing group, Woodstock, VT.</p>

					<p>Franciscovich, B. (November, 2018). Leveraging Networks. PowerPoint session presented at the bi-annual education conference of the Leadership Management Institute of Singapore, Zhuhai, China. </p>
		
			</div>
			</div>
			</div>
			</div>
			</div>
		</div>
{% endblock %}