{% extends 'base.html' %}

{% block content %}
		<div class='homepage-content'>
			<div class='homepage-banner'>
				<h1>Bridget Franciscovich</h1>
				<p>Digital marketing optimizer and educator with 5+ years of experience preparation of business strategies, preparing reports and remaining the utmost confidence in student and client confidentiality. Possesses an M.S. in Marketing with a concentration in social media marketing, a candidate for an M.S. in Information Technology, and experience in digital marketing analytical tools and business software. Looking to leverage my knowledge and experience in information technology and the business industry.</p>

				{% if Experience %}
					<h3>Experience</h3>
						<ul>
					{% for Experience in Experience %}
						<li>{{  Experience.title }}</li>
							<ul>
							<li>Location: {{  Experience.location }}</li>
							<li>Description: {{  Education.description }}</li>
							</ul>
					{% endfor %}
						</ul>
				{% else %}
						<h2>No Experience Found!</h2>
				{% endif %}

			</div>
		</div>
{% endblock %}