{% extends 'base.html' %}

{% block content %}
		<div class='portfolio-content'>
			<h1>Portfolio</h1>
			<h3>If Women: else fail:</h3>
			<p>A web application using Django and Python was developed to provide statistical information on the gap between women in technology.</p>

			<h3>Patriots Football 2017:</h3>
			<p>A relational database using SQL to showcase the 2017 football season scores of the New England Patriots and each game the team played. Queries and views were used to provide the user visualizations of the data based on business rules.</p>
		</div>
{% endblock %}

